@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://use.typekit.net/rrh2brv.css");
h1 {
  font-family: "ibm-plex-sans";
  font-weight: 300;
}
#vibrantIcon {
  background: -webkit-linear-gradient(#deff00, #e000ff);
  background: -moz-linear-gradient(#deff00, #e000ff);
  background: linear-gradient(#deff00, #e000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#specialPlayerIcon {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: -moz-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fire-text {
  text-shadow: 2px -2px 8px yellow, 2px -6px 8px red, 2px -6px 8px red;
  animation-name: flamingText;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform: translateZ(0);
}

@keyframes flamingText {
  0% {
    text-shadow: 2px -2px 8px yellow, 2px -6px 8px red, 2px -6px 8px red;
  }
  50% {
    text-shadow: 2px -2px 8px yellow, 2px -6px 8px red, 2px -6px 8px red,
      2px -10px 8px red, 2px 2px 8px yellow, 2px 6px 8px red;
  }
  100% {
    text-shadow: 2px -2px 8px yellow, 2px -6px 8px red, 2px -6px 8px red;
  }
}

#highRankIcon {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: -moz-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateZ(0);
}
#highRankPlaque {
  background: linear-gradient(#ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  border-radius: 50em;
  background-size: 400% 400%;
  border: 10px solid transparent;
  transform: translateZ(0);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
